{% extends 'base2.html' %}
{% load my_tags %}

{% block title %}
Huafeng的思考/文字/刘华峰
{% endblock %}


{% block body %}
<div class='container-fluid'>
    <div class='row'>
        <div class='col-md-6 col-md-offset-2 col-xs-offset-1 col-xs-10'>
        {% autoescape off %}{{blog.text}}{% endautoescape %}
        </div>
        <div class='col-md-3 col-md-offset-1 hidden-xs hidden-sm'>
            <div class='affix'>
                <p>文章同步更新于微信公众号:</p>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span><b>华峰的思考</b></span>
                <img class="img-responsive" style="height: 60%;width:60%" src="/static/img/20150919/huafengthink.jpg" alt="五彩旗" />
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='hidden-md hidden-lg col-xs-offset-1 col-xs-10'>
            <p>文章同步更新于微信公众号:</p>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span><b>华峰的思考</b></span>
                <img class="img-responsive" style="height: 40%;width:40%" src="/static/img/20150919/huafengthink.jpg" alt="五彩旗" />
        </div>
    </div>
    <div class='row'>
        <div class='col-md-6 col-md-offset-2 col-xs-offset-1 col-xs-10'>
            <!-- 多说评论框 start -->
            <div class="ds-thread" data-thread-key="{{blog.id}}" data-title="{{blog.title}}" data-url="/blog/{{blog.id}}/"></div>
            <!-- 多说评论框 end -->
            <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
            <script type="text/javascript">
            var duoshuoQuery = {short_name:"liuhuafeng"};
            (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0] 
                 || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
            </script>
            <!-- 多说公共JS代码 end -->

        </div>
    </div>
</div>
{% endblock %}