{% extends 'base2.html' %}
{% load my_tags %}

{% block title %}
Huafeng的思考/文字/刘华峰
{% endblock %}


{% block body %}
<div class='container-fluid'>
    <div class='row'>
        <div class='col-md-7 col-md-offset-2'>
        <h3>关于Huafeng</h3>
        <hr>
        <p>刘华峰，生于1993年，四川大学2015届毕业生。</p><p>大三暑假开始在北京实习。之前在搜狐做产品实习5个月；
        2014年12月起至今，在火球网（互联网金融创业公司）做产品实习，主要负责所有和资金相关的产品设计，包括
        资金托管、提现策略、续投策略等，也负责和合作方沟通设计相关的金融产品。</p>
        <p>大学之前无甚可说，和万千学子一样“读书”而已。</p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p>&nbsp;</p>
        <h3>站点信息</h3>
        <hr>
        <p>本站采用Django+sqlite3+bootstrap开发，由于功能简单，加之以前有开发经验，并没有耗费太多时间，考虑以后逐渐迭代。</p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        </div>
    </div>
</div>
{% endblock %}