{% extends 'base2.html' %}
{% load my_tags %}

{% block title %}
Huafeng的思考/文字/刘华峰
{% endblock %}


{% block body %}
<div class='container-fluid'>
    <div class='row'>
        <div class='col-md-6 col-md-offset-2 col-xs-offset-1 col-xs-10'>
        <h3>2015年</h3>
        {% for blog in blogs_2015 %}
        <p><a href='/blog/{{blog.id}}/'>{% showBlogMD blog %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{blog.title}}</a></p>
        {% endfor %}
        <h3>2014年</h3>
        {% for blog in blogs_2014 %}
        <p><a href='/blog/{{blog.id}}/'>{% showBlogMD blog %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{blog.title}}</a></p>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}