{% extends 'base2.html' %}
{% load my_tags %}

{% block title %}
Huafeng的思考/文字/刘华峰
{% endblock %}

 
{% block body %}
<div class='container-fluid'>
    <div class='row'>
        <div class='col-md-6 col-md-offset-2'>
            <div>
                <p><a href='/about/'>作者：刘华峰</a></p>
                <p>时间：{% showBlogTime blog %}</p>
                <p>分类：{{blog.part.Cpart}}&nbsp;&nbsp;</p>
                <p>标签：{% for tag in blog.tag.all %}<span>{{tag.Ctag}}&nbsp;&nbsp;</span>{% endfor %}</p>
                <h2 href='/blog/{{blog.id}}/'>{{blog.title}}</h2>
                <p>{% autoescape off %}{{blog.text}}{% endautoescape %}</p>
                <hr style="height:1px;border:none;border-top:1px solid grey;padding-bottom:10px;margin-top:30px" />
            </div>       
        </div>
    </div>
    <div class='row'>
        <div class='col-md-6 col-md-offset-2'>
            <!-- 多说评论框 start -->
            <div class="ds-thread" data-thread-key="{{blog.id}}" data-title="{{blog.title}}" data-url="/blog/{{blog.id}}/"></div>
            <!-- 多说评论框 end -->
            <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
            <script type="text/javascript">
            var duoshuoQuery = {short_name:"liuhuafeng"};
            (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0] 
                 || document.getElementsByTagName('body')[0]).appendChild(ds);
            })();
            </script>
            <!-- 多说公共JS代码 end -->

        </div>
    </div>
</div>
{% endblock %}